@model DroneComponentsInventory.Models.BatteryComponent

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>BatteryComponent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BatteryId" />
            <div class="form-group">
                <label asp-for="Manufacturer" class="control-label"></label>
                <input asp-for="Manufacturer" class="form-control" />
                <span asp-validation-for="Manufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CellCountS" class="control-label"></label>
                <input asp-for="CellCountS" class="form-control" />
                <span asp-validation-for="CellCountS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NominalVoltageV" class="control-label"></label>
                <input asp-for="NominalVoltageV" class="form-control" />
                <span asp-validation-for="NominalVoltageV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CapacityMah" class="control-label"></label>
                <input asp-for="CapacityMah" class="form-control" />
                <span asp-validation-for="CapacityMah" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DischargeRateC" class="control-label"></label>
                <input asp-for="DischargeRateC" class="form-control" />
                <span asp-validation-for="DischargeRateC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurstRateC" class="control-label"></label>
                <input asp-for="BurstRateC" class="form-control" />
                <span asp-validation-for="BurstRateC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DischargeConnector" class="control-label"></label>
                <input asp-for="DischargeConnector" class="form-control" />
                <span asp-validation-for="DischargeConnector" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BalanceConnector" class="control-label"></label>
                <input asp-for="BalanceConnector" class="form-control" />
                <span asp-validation-for="BalanceConnector" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chemistry" class="control-label"></label>
                <input asp-for="Chemistry" class="form-control" />
                <span asp-validation-for="Chemistry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeightG" class="control-label"></label>
                <input asp-for="WeightG" class="form-control" />
                <span asp-validation-for="WeightG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LengthMm" class="control-label"></label>
                <input asp-for="LengthMm" class="form-control" />
                <span asp-validation-for="LengthMm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WidthMm" class="control-label"></label>
                <input asp-for="WidthMm" class="form-control" />
                <span asp-validation-for="WidthMm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeightMm" class="control-label"></label>
                <input asp-for="HeightMm" class="form-control" />
                <span asp-validation-for="HeightMm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
