@model DroneComponentsInventory.Models.FrameComponent

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>FrameComponent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FrameId" />
            <div class="form-group">
                <label asp-for="Manufacturer" class="control-label"></label>
                <input asp-for="Manufacturer" class="form-control" />
                <span asp-validation-for="Manufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WheelbaseMm" class="control-label"></label>
                <input asp-for="WheelbaseMm" class="form-control" />
                <span asp-validation-for="WheelbaseMm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxPropInch" class="control-label"></label>
                <input asp-for="MaxPropInch" class="form-control" />
                <span asp-validation-for="MaxPropInch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Geometry" class="control-label"></label>
                <input asp-for="Geometry" class="form-control" />
                <span asp-validation-for="Geometry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Material" class="control-label"></label>
                <input asp-for="Material" class="form-control" />
                <span asp-validation-for="Material" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeightG" class="control-label"></label>
                <input asp-for="WeightG" class="form-control" />
                <span asp-validation-for="WeightG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArmThicknessMm" class="control-label"></label>
                <input asp-for="ArmThicknessMm" class="form-control" />
                <span asp-validation-for="ArmThicknessMm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotorMountPattern" class="control-label"></label>
                <input asp-for="MotorMountPattern" class="form-control" />
                <span asp-validation-for="MotorMountPattern" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FcMountPattern" class="control-label"></label>
                <input asp-for="FcMountPattern" class="form-control" />
                <span asp-validation-for="FcMountPattern" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxStackHeightMm" class="control-label"></label>
                <input asp-for="MaxStackHeightMm" class="form-control" />
                <span asp-validation-for="MaxStackHeightMm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
